Options -Indexes
DirectoryIndex index.php

<FilesMatch "^\.env$">
  Require all denied
</FilesMatch>

<IfModule mod_php.c>
  php_value upload_max_filesize 64M
  php_value post_max_size 70M
  php_value max_execution_time 120
</IfModule>
